<div [hidden]="Category">
    <mat-spinner></mat-spinner>
    <h4>Loading please wait ...</h4>
</div>


<header *ngIf="Category" class="masthead" style='background-image:url("../../assets/{{Category.image}}");'>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{Category.category}}</h1>
            <span class="subheading">{{Category.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
