
.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}
mat-form-field {
    margin-right:20px;
}
.row-1 {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    opacity: 0.75;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    margin-bottom: 20px;
    padding-left: 20px;
}
nav{
    margin-bottom:2%;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}