<header class="masthead" style="background-image: url('../../assets/contact-1.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Contact Us</h1>
          <span class="subheading">Have questions or recomendation? We have answers.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
    <div class="row-1">
      <div class="col col-12" *ngIf="errMess">
        <alert [type]="alert.type">{{ alert.msg }}</alert>
      </div>
        <div class="col col-12">
            <form novalidate [formGroup] = "feedbackForm" #feedbackform=ngForm (ngSubmit)=onSubmit() *ngIf ="showForm">
                <p>
                    <mat-form-field class="half-width">
                      <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
                      <span matSuffix class="fa fa-user-circle"></span>
                      <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="half-width">
                      <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
                      <span matSuffix class="fa fa-user"></span>
                      <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field class="half-width">
                      <mat-label>Tel. Number</mat-label>
                      <input matInput formControlName="telnum" placeholder="Ex: 9998887776" type="tel" pattern="[0-9]*" required>
                      <span matSuffix class="fa fa-phone"></span>
                      <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="half-width">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" placeholder="Ex. pat@example.com" type="email" email required>
                      <span matSuffix class="fa fa-envelope"></span>
                      <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
                    </mat-form-field>
                  </p>
                  <table class="form-size">
                    <td>
                      <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
                    </td>
                    <td>
                      <mat-select placeholder="How?" formControlName="contacttype">
                        <mat-option *ngFor="let ctype of contactType" [value]="ctype.type">
                          <span class="fa fa-{{ctype.icon}}"></span>  {{ ctype.type }}
                        </mat-option>
                      </mat-select>
                    </td>
                    </table>
                  <p>
                    <mat-form-field class="full-width">
                      <mat-label>Your Feedback</mat-label>
                      <textarea matInput formControlName="message" placeholder="Ex . The page is super user friendly liked its look and feel..." rows=12></textarea>
                    </mat-form-field>
                  </p>
                  <button type="submit" class="btn btn-primary" style="box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" [disabled]="feedbackForm.invalid">Submit</button>
               </form>
        </div>
        <div [hidden] = "showForm || submitted">
          <mat-spinner></mat-spinner>
          <h4>Sending Feedback...</h4>
        </div>
        <div *ngIf = "submitted"> 
          <h3>Your Submission</h3>
        <p>First Name: {{submitted.firstname}}</p>
        <p>Last Name: {{submitted.lastname}}</p>
        <p>Tel. Number: {{submitted.telnum}}</p>
        <p>Email: {{submitted.email}}</p>
        <p>Contact You?: {{submitted.agree}}</p>
        <p>How?: {{submitted.contacttype}}</p>
        <p>Feedback: {{submitted.message}}</p>
        </div>
    </div>
</div>
