  <div class="container" *ngIf = "book">
    <div class="row">
      <div>
        <h3>{{book.name | uppercase}}</h3>
        <h6>{{book.author}}</h6>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col col-12 col-md-6">
        <mat-card>
          <img mat-card-image src="{{baseURLFile + book.image}}" alt={{book.name}}>
          <mat-card-actions>
          <div class="conatiner">
            <div class="row">
              <div class="col-2">        <button mat-button matTooltip="Previous book" [routerLink]="['/books',prev]"><span class="fa fa-chevron-left fa-lg"></span></button></div>
              <div class ="col-2"> <button mat-button  matTooltip="Back to bookshelf" (click)="goBack()"><span class="fa fa-arrow-left fa-lg"></span></button></div>
              <div class="col-4"><a href="{{baseURLFile + book.download}}" target="_blank"><button  matTooltip="read online"  class="btn btn-primary">Read Online</button></a></div>
              <div class="col-2"><a href="{{baseURLFile + book.download}}" target="_blank" download ><button  matTooltip="Download pdf"  mat-button ><span class="fa fa-download fa-lg" style="color:black"></span></button></a></div>
                <div class="col-2"><button mat-button  matTooltip="next Book" [routerLink]="['/books',next]"><span class="fa fa-chevron-right fa-lg"></span></button></div>
            </div> 
          </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col col-12 col-md-6">
        <div class="row">
          <div class="col col-12">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <h2>Description </h2>
                </mat-card-title>
              </mat-card-header>
              <hr>
              <mat-card-content>{{book.description}}</mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col col-12">
            <mat-card>
            <h2>Feedback</h2>
            <div *ngIf="errMessComment">
              <alert [type]="alerts.type">{{ alerts.msg }}</alert>
              </div>
            <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
              <p>
                <mat-slider min="1" max="5" step="1" thumbLabel tickInterval="1" name="rating" formControlName="rating"></mat-slider>
                <mat-form-field class="full-width" [disabled] ="user">
                  <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
                  <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                </mat-form-field>
              </p>
              <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
            </form>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col col-12">
            <mat-card>
              <mat-list>
                <h3>Comments</h3>
                <hr>
                <mat-list-item *ngFor="let comment of comments">
                  <h4 matLine> {{comment.comment}} </h4>
                  <p matLine> {{comment.rating}} Stars</p>
                  <p matLine>
                    <span> -- {{comment.user.username}} {{comment.createdAt | date }} </span>
                  </p>
                </mat-list-item>
                <hr>
              </mat-list>
            </mat-card>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container" [hidden] ="book || errMess">
      <div class="row d-flex justify-content-center">
        <div class="col col-12 col-md-6">
          <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="errMess">
      <div class="row d-flex justify-content-center">
        <div class="col col-12 col-md-6">
          <h2>Error</h2>
          <h4>Opps! Internal Server Error plz visit after sometime</h4>       
         </div>
      </div>
    </div>


    


