<div class="container-fluid">
    <div class="row">
        <div class="col col-12">
            <h1>Categories</h1>
        </div>
    </div>
</div>
<div [hidden]="Categories">

    <app-loading></app-loading>
    
</div>
<div class="container" *ngIf="Categories">
    <div class="row row-1 align-items-center" *ngFor="let category of Categories let even = even let odd = odd" [routerLink]="['/category',category.category]">
        <div class="col-12 col-sm-4 col-md-3 order-sm-last" *ngIf="odd">
            <h3>{{category.category.toUpperCase()}}</h3>
        </div>
        <div class="col col-sm order-sm-first col-md" *ngIf="odd">
            <div class="media">
                <img src="{{baseURLFile + category.image}}" class="d-flex mr-3 image-thumbnail align-self-center" style="object-fit: cover;" alt="{{category.category}}" width="110px" height="110px">
                <div class=media-body>
                    <h2 class="mt-0">{{category.category}}</h2>
                    <p>{{category.description}}</p>
                    <a [routerLink]="['/category',category.category]" class="stretched-link">Search this category</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 order-sm-first" *ngIf="even">
            <h3>{{category.category.toUpperCase()}}</h3>
        </div>
        <div class="col col-sm order-sm-last col-md" *ngIf="even">
            <div class="media">
                <div class=media-body>
                    <h2 class="mt-0">{{category.category}}</h2>
                    <p>{{category.description}}</p>
                    <a [routerLink]="['/category',category.category]" class="stretched-link">Search this category</a>
                </div>
                <img src="{{baseURLFile + category.image}}" class="d-flex mr-3 image-thumbnail align-self-center" style="object-fit: cover;" alt="{{category.category}}" width="110px" height="110px">
            </div>
        </div>
        <hr>
    </div>
</div>
