.container{
    margin-top: 20px;
    margin-bottom: 20px;
    .col{
      margin-bottom: 10px;  
    }
}
#header
    {
        margin: 0px auto;
        padding: 30px 30px;
        background:#232f3e;
        color: floralwhite; 
    }

    .row-1 {
        margin: 0px auto;
        padding: 50px 0px;
        border-bottom: 1px ridge;
        opacity: 0.75;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    .row-1:hover{
        opacity: 1;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    nav{
        margin-top:1%;
        box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
      