<div class="container-fluid">
    <div class="row">
        <div class="col col-12">
            <h1>Categories</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ul class="list-unstyled"  *ngFor="let category of Categories">
            <li class="media" style="height: 20vh;">
                <img src="{{baseURLFile + category.image}}" alt="{{category.category}}" style="object-fit: cover!important; height: inherit;">         
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{category.category.toUpperCase()}}</h5>
                    {{category.description}}
                </div>
            </li>
        </ul>
    </div>
</div>
