.main{
    text-align: center; 
    height: 400px; 
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top:10%;
    margin-bottom: 10%;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
mat-toolbar{
    padding-top: 5%;
    line-height: inherit;
}

