<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-md-6">
            <h2>Our Collections</h2>
        </div>
        <div class="col col-12 col-md-3 offset-md-3">
            <form novalidate [formGroup]="searchForm" #sform="ngForm">
                <input type="text" class="form-control" placeholder="Search for books" formControlName="search">
            </form>
        </div>
</div>
</div>
<div class="container" *ngIf="books">
    <div class="row">
        <div class='col col-6 col-md-4' *ngFor="let book of booksSearch" [routerLink]="['/books', book._id]">
            <div class="card" [ngClass]="{'border-danger': hover}" (mouseover)="hover=true" (mouseleave)="hover=false"ng-init="a=false">
                <img class="card-img-top" src="{{baseURLFile + book.image}}" alt="{{book.name}}">
                
                <div class="card-footer text-muted">
                    <strong>{{book.name}}</strong><br>
                    <i>-{{book.author}}</i>
                 </div>
              </div>
        </div>
    </div>
</div>       
<app-loading [hidden] ="books || errMess"></app-loading>
<div class="container" *ngIf="errMess">
    <div class="row d-flex justify-content-center">
      <div class="col col-12 col-md-6">
        <h2>Error</h2>
        <h4>Opps! Internal Server Error plz visit after sometime</h4>       
       </div>
    </div>
  </div>
  <div class="container" *ngIf="booksSearch.length === 0 &&  books">
    <div class="row d-flex justify-content-center" style="height: 40vh;">
        <div class="col col-12 col-md-6">
        <h2>No Books</h2>
        <h4>Opps! No books found with that name</h4>       
       </div>
    </div>
  </div>
