
<header class="masthead" style="background-image: url('../../assets/book1.jpg')  ;box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Islamic Books</h1>
            <span class="subheading">Love books? Want to know more about islam . Join us we are willing to meet all your needs <strong>free</strong> of cost.<br>
              <br><button type="button" class="btn btn-warning btn-lg" style="box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" routerLink="/books">Check our Books</button></span>
          </div>
        </div>
      </div>
    </div>
  </header>
<p>home works!</p>

